@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
body{
  counter-reset: my-sec-counter;
}

header.header-nav {
  background: #24292f;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.section-nav {
  margin-bottom: 120px;
}
.cursor-p {
  cursor: pointer;
}
.nav-container {
  margin: 0 auto;
  padding: 16px 3%;
  display: flex;
  align-items: center;
}
nav.nav-container div {
  display: flex;
  align-items: center;
}
nav.nav-container div .logo {
  margin-right: 21px;
}
nav.nav-container div a {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
nav.nav-container div a:first-of-type {
  margin-right: 12px;
}
.search-input {
  position: relative;
  margin-left: auto;
}
.search-input img {
  position: absolute;
  left: 20px;
}
.search-input .input-search {
  border-radius: 9px;
  border: 0.7px solid rgba(255, 255, 255, 0.1);
  background: #282d34;
  width: 431px;
  /* height: 48px; */
  outline: none;
  padding: 15px 15px 15px 48px;
  color: rgba(255, 255, 255, 0.45);
  font-size: 15px;
  font-weight: 300;
}
.search-input .input-search::placeholder {
  color: rgba(255, 255, 255, 0.45);
}
.img-mode {
  display: block;
  margin-left: 15px;
}

.posts-container {
  max-width: 868px;
  margin: 30px auto;
}

.posts-container article.post {
  margin-bottom: 13px;
}
.posts-container article.post .post-name{
  color: #1f2328;
  font-size: 15px;
  font-weight: 500;
}
.posts-container article.post .post-name::before{
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter)".    ";
  margin-left: -13px;
}
.posts-container article.post .post-name:hover {
  text-decoration: underline;
}
.posts-container article.post div{
  color: #6e7781;
}
.posts-container article.post div span {
  color: #6e7781;
  font-size: 13px;
  font-weight: 400;
}

/* loader main */
.loader-main {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader-main::after,
.loader-main::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #005FEB #005FEB;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader-main::before {
  width: 32px;
  height: 32px;
  border-color: #1f2328 #1f2328 transparent transparent;
  animation: rotation 1.5s linear infinite;
}
.loader-main-open{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* loader search */
.loader-search {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader-search::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}